html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background: url("../img/Asset 10@4x.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    /*A0A0A0*/
    /*E3E3E3*/
}
#bg { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
}
.bgwidth { 
    width: 100%; 
}
.bgheight { 
    height: 100%; 
}
.large-container {
    margin-top: 18%;
}
.wrapper {
    display: block;
}
main, .js-submit-btn, input[type=text] {
    text-align: center;
}
main {
    width: 100%;
    height: 40%;
    border-radius: 5px;
    padding-top: 30px;
    color: #A0A0A0;
}
.logo-banner {
    width: 50%;
    height: auto;
}
h1 {
    font-size: 700;
    letter-spacing: 0.3em;
}
.search-area {
    color: #E3E3E3;
}
input[type=text] {
    -webkit-appearance: none;
    width: 50%;
    margin-left: 25%;
    color: white;
    background: none;
    text-align: center;
    /* These are for different browser support */
    border-top: none;
    border-left: none;
    border-right: none;
    border-style: none;
    /*----------------*/
    border-color: white;
    border-image: none;
    border-width: 2px;
    opacity: 0.7;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 200;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      color: white;
  }
.underline{
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
    background-color: white;
    opacity: 0.8;
}
.js-submit-btn {
    background: none;
    color: white;
    border-style: none;
    font-size: 1.5em;
    opacity: 0.8;
}
.js-results {
    width: 40%;
    text-align: center;
    margin: auto;
    z-index: 1;
}
.result {
    display: inline-block;
    background-color: #EEEEEE;
    margin: 10px 5px 10px 5px;
    padding: 20px 10px;
}
.result-name, .result-info h2 {
    color: black;

}